# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Project-specific folders
belgeler/
cache/
test_cache/
etst_cache/

# Virtual environments
venv/
.env/
.envs/
lib/
lib64/
bin/
include/

# Python
__pycache__/
*.py[cod]

# Site-packages
**/site-packages/

# Compiled binaries
*.so
*.dylib
*.dll

# Logs
*.log

# Notebooks checkpoints
.ipynb_checkpoints/

